:root {
  --primary-color: #4285F4;
  --secondary-color: #34A853;
  --tertiary-color: #FBBC05;
  --quaternary-color: #EA4335;
}


body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  body 
  
}

title {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: var(--tertiary-color);
  text-align: center;
  margin: 0;
  font-size: 36px;
}

h2 {
  color: var(--tertiary-color);
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}

body {
  color: #fff;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  background-color: #000000;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

ol {
  color: var(--secondary-color);
  margin-top: 50px;
  font-size: 1.2rem;
  list-style-position: inside;
  padding-left: 0;
}

ul {
  color: var(--secondary-color);
  margin-top: 50px;
  font-size: 1.2rem;
  list-style-position: inside;
  padding-left: 0;
}

li {
  color: var(--quaternary-color);
  margin-bottom: 10px;
}